<div class="container">
    <div class="row">
    {{#each data}}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block top-image" style="background-image: url(./uploads/{{file}})"></div>
            <div class="card-block">
                <h4 class="card-title"><a href="/sessions/{{_id}}" class="detail-link">{{location}}</a></h4>
                <p class="card-text"><small class="text-muted">{{{timestamp}}}, {{duration}} h, {{distance}} km</small></p>
                <p class="card-text">{{commentText}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{{weapon}}}</li>
                <li class="list-group-item"><strong>Skott</strong><br />{{{formatArray shotsFired}}}</li>
                <li class="list-group-item"><strong>Byten:</strong> {{kills}} {{animalType}}</li>
            </ul>
        </div>
    </div>
    {{/each}}
    </div>
</div>
