<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Plats</th>
                <th scope="col">Tid</th>
                <th scope="col">Distans</th>
                <th scope="col">Skott</th>
                <th scope="col">Byten</th>
                <th scope="col">Kommentar</th>
                <th scope="col">Added</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}

            <tr>
                <td>{{location}}</td>
                <td>{{duration}}</td>
                <td>{{distance}}</td>
                <td>{{shotsFired}}</td>
                <td>{{kills}}</td>
                <td>{{commentText}}</td>
                <td>{{{timestamp}}}</td>

            </tr>

            {{/each}}

        </tbody>

    </table>

</div>
