<div class="row">

    {{#each total}}
        {{> card}}
    {{/each}}

</div>

{{#each data}}
<p>{{location}}, time {{duration}}, distance: {{distance}}, SF: {{shotsFired}}, K: {{kills}}</p>
{{/each}}